$grayscale-primary: #008080 !default;
$grayscale-dark: #eee !default;
$grayscale-light: #222222 !default;

$grayscale-body-font-family: "Lora","Helvetica Neue",Helvetica,Arial,sans-serif;
$grayscale-headline-font-family: 'Kalam',"Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;