
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid $grayscale-light;
  border-bottom: 1px solid transparentize($grayscale-light, 0.7);
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  background-color: $grayscale-dark;

  .navbar-brand {
    font-weight: 700;

    &:focus {
      outline: none;
    }

    .navbar-toggle {
      padding: 4px 6px;
      font-size: 16px;
      color: $grayscale-light;

      &:focus,
      &:active {
        outline: none;
      }
    }
  }

  a {
    color: $grayscale-light;
  }

  .nav {

    li {

      &.active {
        outline: none;
        background-color: $grayscale-light;
        background-color: transparentize($grayscale-light, 0.7);
      }

      a {
        -webkit-transition: background .3s ease-in-out;
        -moz-transition: background .3s ease-in-out;
        transition: background .3s ease-in-out;

        &:hover,
        &:focus,
        &.active {
          outline: none;
          background-color: $grayscale-light;
          background-color: transparentize($grayscale-light, 0.7);
        }
      }
    }
  }
}

@media(min-width:$screen-xs-max) {

  .navbar {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }

  .top-nav-collapse {
    padding: 0;
    background-color: $grayscale-dark;
  }

  .navbar-custom.top-nav-collapse {
    border-bottom: 1px solid transparentize($grayscale-light, 0.7);
  }
}
