<article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
<h2 class="post-title">
  <a href="{{post.url | prepend:site.baseurl}}">
    {{ post.title }}
  </a>
</h2>
<div class="post-meta">
  <span class="post-time">
    <i class="fa fa-calendar"></i>
    <time>{{ post.date | date_to_string }}</time>
  </span>
  {% if post.read_time %}
    <span class="read-time"><i class="fa fa-clock-o" aria-hidden="true"></i> {% include read-time.html %}</span>
  {% endif %}
  <span>
    <ul class="list-inline">
      {% for tag in post.tags %}
        <li><a class="btn btn-default btn-xs" href="/tags/#{{ tag }}">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  </span>
</div>
{% if post.excerpt %}<p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify | strip_html | truncate: 160 }}</p>{% endif %}
