<style>html{background-color: #000; color: #fff;}a{color: #fff}a:hover{color: #fff}</style>
<script type="text/javascript">
  var stylesheet = document.createElement('link');
  stylesheet.href = '/css/main.min.css';
  stylesheet.rel = 'stylesheet';
  stylesheet.type = 'text/css';
  document.getElementsByTagName('head')[0].appendChild(stylesheet);
  var stylesheet = document.createElement('link');
  stylesheet.href = 'https://fonts.googleapis.com/css?family=Kalam';
  stylesheet.rel = 'stylesheet';
  stylesheet.type = 'text/css';
  document.getElementsByTagName('head')[0].appendChild(stylesheet);
</script>
<noscript><link rel="stylesheet" href="{{ "/css/main.min.css" | prepend: site.baseurl }}"></noscript>
<noscript><link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet"></noscript>