<style>html{background-color: #000; color: #fff;}a{color: #fff}a:hover{color: #fff}.intro {display: table;width: 100%;text-align: center;color: rgb(238, 238, 238);padding: 100px 0px;background: url(../img/intro-bg.jpg) left top no-repeat scroll rgb(0, 0, 0);  -webkit-background-size: cover;  -moz-background-size: cover;background-size: cover;-o-background-size: cover;}</style>
<script type="text/javascript">
  var stylesheet = document.createElement('link');
  stylesheet.href = '/css/main.min.css';
  stylesheet.rel = 'stylesheet';
  stylesheet.type = 'text/css';
  document.getElementsByTagName('head')[0].appendChild(stylesheet);
  var stylesheet = document.createElement('link');
  stylesheet.href = 'https://fonts.googleapis.com/css?family=Kalam';
  stylesheet.rel = 'stylesheet';
  stylesheet.type = 'text/css';
  document.getElementsByTagName('head')[0].appendChild(stylesheet);
</script>
