<div class="sidebar">
  <div class="panel panel-default">
    <div class="sidebar-heading panel-heading">
      <h2>Posts recientes</h2>
    </div>
    <div class="list-group">
      {% for post in site.posts limit:5 %}
      <a class="list-group-item" href="{{ site.baseurl}}{{ post.url }}">{{ post.title }}</a>
      {% endfor %}
    </div>
  </div>

  <div class="panel panel-default">
    <div class="sidebar-heading panel-heading">
      <h2>Etiquetas</h2>
    </div>
    <div class="list-group">
      {% for tag in site.tags %}
      <a class="list-group-item" href="{{ site.baseurl }}/tag/{{ tag[0] }}">{{ tag[0] }}</a>
      {% endfor %}
      <a class="list-group-item" href="{{ '/archive.html' | prepend: site.baseurl }}">Archivo del blog
        <span class="badge">{{site.posts.size}}</span>
      </a>
    </div>
  </div>
</div>
