{% macro render_blog_post(post, from_index=false) %}
  <div class="blog-post">
  {% if from_index %}
    <h2><a class="post-title" href="{{ post|url }}">{{ post.title }}</a></h2>
  {% else %}
    <h2 class="post-title">{{ post.title }}</h2>
  {% endif %}
  <!-- Author -->
    <p class="post-meta">
        <i class="fa fa-fw fa-user"></i><span class="post-author">{{ post.author }}</span>
        <i class="fa fa-fw fa-clock-o"></i> <span class="post-date">{{ post.pub_date }}</span>
    </p>
  {{ post.body }}
  </div>
{% endmacro %}
