.error-page {
  width: 100%;
  background: $grayscale-dark url('../img/lost.jpg') no-repeat scroll top left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.error-page-number {
  font-family: Sans-Serif;
  font-size: 230px;
  opacity: 1;
  -webkit-text-stroke: 5px $error-number-color-stroke;
  font-weight: 600;
  color: $error-number-color-fill;
  text-shadow: -5px -5px 0 $error-number-color-stroke,
    5px -5px 0 $error-number-color-stroke,
    -5px 5px 0 $error-number-color-stroke,
    5px 5px 0 $error-number-color-stroke;
}
