.error-page {
  width: 100%;
  background: $grayscale-dark url('../img/lost.jpg') no-repeat scroll top left;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
