$greedy-bg-color: #000 !default;
$greedy-text-color: #fff !default;
$greedy-hover-text-color: $greedy-text-color !default;
$greedy-btn-bg-color: #333 !default;
$greedy-btn-fg-color: #eee !default;

.nav-wrapper {
  position: absolute;
}

.greedy-nav {
  align-items: center;
  background: $greedy-bg-color;
  display: flex;
  height: 40px;
  font-size: 16px;
  position: relative;

  a {
    @include underline-from-center;
    align-items: center;
    background: $greedy-bg-color;
    border: 0;
    color: $greedy-text-color;
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0 1rem;
    vertical-align: middle;

    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: transparentize($grayscale-light, .8);
      color: $greedy-hover-text-color;
      outline: none;
      text-decoration: none;
    }
  }
}

.greedy-nav-title {
  align-self: stretch;
  align-items: center;
  border: 0;
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding: 0 1rem;
  vertical-align: baseline;
}

.greedy-nav-btn {
  align-self: stretch;
  transition: all .4s ease-out;
  outline: 0;
  border: 0;
  font-size: .9rem;
  font-weight: bold;
  background: $greedy-bg-color;

  &.hidden {
    transition: none;
    border-right: .5rem solid $greedy-btn-bg-color;
    width: 0;
    padding: 0;
    overflow: hidden;
  }

  &::after {
    content: attr(count);
    display: inline-flex;
    font-size: 12px;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;
    background: $greedy-btn-bg-color;
    color: $greedy-btn-fg-color;
    border-radius: 50%;
    margin-left: 1rem;
  }
}

.greedy-nav-links {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
  height: 100%;

  li {
    flex: none;

    &.active {
      outline: none;
      background-color: transparentize($grayscale-light, .8);
    }
  }
}

.greedy-nav-hidden-links {
  position: absolute;
  background: $greedy-bg-color;
  right: 0;
  top: 100%;
  line-height: 2;
  padding: .2rem 1rem;
  list-style: none;

  &.hidden {
    display: none;
  }

  a {
    width: 100%;
  }
}

.greedy-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
}

body {
  padding-top: 40px;
}
