html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
  font-family: $grayscale-body-font-family;
  color: $grayscale-light;
  background-color: $grayscale-dark;
  -webkit-tap-highlight-color: transparentize($grayscale-light, 0.8);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: $grayscale-headline-font-family;
  color: $grayscale-primary;
}

p {
  margin: 0 0 25px;
  font-size: 18px;
  line-height: 1.5;
}

@media(min-width:$screen-xs-max) {

  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }

}

a {
  color: $grayscale-primary;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;

  &:hover,
  &:focus {
    text-decoration: none;

    color: darken($grayscale-primary, 0.2);
  }
}

.light {
  font-weight: 400;
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100%;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background .3s ease-in-out;
  -moz-transition: background .3s ease-in-out;
  transition: background .3s ease-in-out;

  &:hover,
  &:focus {
    outline: none;
    color: white;
    background: white;
    background: rgba(white, 0.1);
  }

  .animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 1s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: 1s;
  }

  &:hover {
    .animated {
      -webkit-animation-name: pulse;
      -moz-animation-name: pulse;
      -webkit-animation-duration: 1.5s;
      -moz-animation-duration: 1.5s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
    }
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  from {
    -moz-transform: scale(1);
    transform: scale(1);
  }

  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }

  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.content-section {
  padding-top: 100px;
}


.btn {
  text-transform: uppercase;
  font-family: "Montserrat","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.btn-default {
  @include button-variant($grayscale-primary, transparentize(white, 1), $grayscale-primary);

  &:hover,
  &:focus {
    border: 1px solid $grayscale-primary;
    outline: none;
    color: $grayscale-dark;
    background-color: $grayscale-primary;
  }
}

footer {
  padding: 50px 0;

  p {
    margin: 0;
  }
}

::-moz-selection,
::selection {
  text-shadow: none;
  background-color: #fcfcfc;
  background: transparentize($grayscale-light, 0.8);
}

img {
  &::selection {
    background: transparent;
  }

  &::-moz-selection {
    background: transparent;
  }
}
