// scss-lint:disable SelectorFormat
@mixin rounded($radius:4px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

.highlight {
  @include rounded(4px);

  margin-bottom: 1.5em;
  color: $foreground;
  background-color: $background;

  pre {
    position: relative;
    margin: 0;
    padding: 1em;
    overflow-x: auto;
    word-wrap: normal;
    border: 0;
    white-space: pre;
    background-color: $pre-background;
    color: $code;

    code {
      white-space: pre;
      color: $code;
    }
  }

  pre::-webkit-scrollbar {
    height: 10px;
    background-color: $scrollbar;
    border-radius: 0 0 4px 4px;
  }

  pre::-webkit-scrollbar-thumb {
    @include rounded(4px);
    background-color: $scrollbar-thumb;
  }

  ::selection {
    background-color: $selection-background;
    color: $selection-foreground;
  }

  > pre {
    -webkit-box-shadow: inset 0 1px 10px $black-3, 0 1px 0 $white-1, 0 -1px 0 $black-5;
    -moz-box-shadow: inset 0 1px 10px $black-3, 0 1px 0 $white-1, 0 -1px 0 $black-5;
    box-shadow: inset 0 1px 10px $black-3, 0 1px 0 $white-1, 0 -1px 0 $black-5;
  }
}

.highlight,
img,
p > nobr > code,
li > code,
h5 > code,
p > pre,
p > code,
.note > code {
  color: $pre-foreground;
  background-color: $pre-background;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 1px 10px $black-3, 0 1px 0 $white-1, 0 -1px 0 $black-5;
  -moz-box-shadow: inset 0 1px 10px $black-3, 0 1px 0 $white-1, 0 -1px 0 $black-5;
  box-shadow: inset 0 1px 10px $black-3, 0 1px 0 $white-1, 0 -1px 0 $black-5;
}


// line numbers
.lineno { border-right: dashed 1px $linenos; color: $linenos; padding-right: 5px; padding-left: 0;}
.hll { background-color: $background; }//Fallback
.c { color: $comments; } // Comment
.err { color: $error; background-color: $error-bg; } // Error
.k { color: $keywords; } // Keyword
.l { color: $numbers;} // Literal
.n { color: $var-and-prop; } // Name
.o { color: $operators; } // Operator
.p { color: $var-and-prop; } // Punctuation
.cm { color: $comments; } // Comment.Multiline
.cp { color: $comments; } // Comment.Preproc
.c1 { color: $comments; } // Comment.Single
.cs { color: $comments; } // Comment.Special
.ge { font-style: italic; } // Generic.Emph
.gs { font-weight: bold; } // Generic.Strong
.kc { color: $keywords; } // Keyword.Constant
.kd { color: $keywords; } // Keyword.Declaration
.kn { color: $operators; } // Keyword.Namespace
.kp { color: $keywords; } // Keyword.Pseudo
.kr { color: $keywords; } // Keyword.Reserved
.kt { color: $keywords; } // Keyword.Type
.ld { color: $strings; } // Literal.Date
.m { color: $numbers;} // Literal.Number
.s { color: $strings; } // Literal.String
.na { color: $attributes; } // Name.Attribute
.nb { color: $var-and-prop; } // Name.Builtin
.nc { color: $names; } // Name.Class
.no { color: $keywords; } // Name.Constant
.nd { color: $tag; } // Name.Decorator
.ni { color: $var-and-prop; } // Name.Entity
.ne { color: $names; } // Name.Exception
.nf { color: $names; } // Name.Function
.nl { color: $var-and-prop; } // Name.Label
.nn { color: $var-and-prop; } // Name.Namespace
.nx { color: $names; } // Name.Other
.py { color: $var-and-prop; } // Name.Property
.nt { color: $tag; } // Name.Tag
.nv { color: $var-and-prop; } // Name.Variable
.ow { color: $operators; } // Operator.Word
.w { color: $var-and-prop;  } // Text.Whitespace
.mf { color: $numbers; } // Literal.Number.Float
.mh { color: $numbers; } // Literal.Number.Hex
.mi { color: $numbers; } // Literal.Number.Integer
.mo { color: $numbers; } // Literal.Number.Oct
.sb { color: $strings; } // Literal.String.Backtick
.sc { color: $strings; } // Literal.String.Char
.sd { color: $strings; } // Literal.String.Doc
.s2 { color: $strings; } // Literal.String.Double
.se { color: $numbers; } // Literal.String.Escape
.sh { color: $strings; } // Literal.String.Heredoc
.si { color: $strings; } // Literal.String.Interpol
.sx { color: $strings; } // Literal.String.Other
.sr { color: $strings; } // Literal.String.Regex
.s1 { color: $strings; } // Literal.String.Single
.ss { color: $strings; } // Literal.String.Symbol
.bp { color: $var-and-prop;  } // Name.Builtin.Pseudo
.vc { color: $var-and-prop; } // Name.Variable.Class
.vg { color: $var-and-prop; } // Name.Variable.Global
.vi { color: $var-and-prop; } // Name.Variable.Instance
.il { color: $numbers; } // Literal.Number.Integer.Long
//.gh { } // Generic Heading & Diff Header
.gu { color: $comments; } // Generic.Subheading & Diff Unified/Comment?
.gd { color: $operators; } // Generic.Deleted & Diff Deleted
.gi { color: $names; } // Generic.Inserted & Diff Inserted
.l-Scalar-Plain {color: $names; }
