.sidebar{
  .list-group-item{
    color: $grayscale-primary;

    &:hover{
      color: $grayscale-primary;
    }
  }
}

.sidebar-heading{
  @extend .panel-heading;
  h2{
    margin-top: 0;
    margin-bottom: 0;
  }
}
