<nav class='greedy-nav greedy-top main-nav'>
  <h1 class='greedy-nav-title'>
    <a class="" href="{{page.navbar_base}}">
      <img src="/icons/favicon-16x16.png" class="nav-logo" alt="scot3004"><span>Sergio Orozco</span>
    </a>
  </h1>
  <ul class='greedy-nav-links'>
    <li class="hidden">
      <a href="#page-top"></a>
    </li>
    
    {% for pag in site.landing %}
     <li class="auto-close">
      <a class="nav-link page-scroll" href="{{page.navbar_base}}#{{pag.pid}}">{{ pag.nav_title }}</a>
    </li>
    {% endfor %}
    <li>
      <a class="nav-link" href="/blog/">
        Blog
        <span class="badge pull-right">
          {{site.posts.size}}
        </span>
      </a>
    </li>
    <li>
      <a class="nav-link" href="{{ site.baseurl }}/tags">
        Etiquetas
        <span class="badge pull-right">{{site.tags.size}}</span>
      </a>
    </li>
  </ul>
  <button class='greedy-nav-btn'>
    <i class="fa fa-bars"></i>
  </button>
  <ul class='greedy-nav-hidden-links hidden'></ul>
</nav>
