---
layout: compress
---
<!DOCTYPE html>
<html lang="{{site.lang}}">
  {% include head.html %}
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include scot3004/nav.html %}
    {{ content }}
    <script async src="{{'/js/main.min.js'| prepend: site.baseurl }}"></script>
    {% include analytics.html %}
  </body>
</html>
<link rel="stylesheet" href="{{ "/css/main.min.css" | prepend: site.baseurl }}">
<link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet"> 