---
layout: compress
---
<!DOCTYPE html>
<html lang="{{site.lang}}">
  {% include head.html %}
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    {% include scot3004/nav.html %}
    {{ content }}
    <script async src="{{'/js/main.min.js'| prepend: site.baseurl }}"></script>
    {% include analytics.html %}
  </body>
</html>
<script>
	var cb = function() {
	var l = document.createElement('link'); l.rel = 'stylesheet';
	l.href = '/css/main.min.css';
	var h = document.getElementsByTagName('head')[0]; h.parentNode.insertBefore(l, h);
	};
	var raf = requestAnimationFrame || mozRequestAnimationFrame ||
	webkitRequestAnimationFrame || msRequestAnimationFrame;
	if (raf) raf(cb);
	else window.addEventListener('load', cb);
</script>
<link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet"> 